[profile.default]
src = "src"
out = "out"
libs = ["lib"]
remappings = [
    "@openzeppelin/contracts/=lib/openzeppelin-contracts/contracts/",
    "poseidon-solidity/=lib/poseidon-solidity/contracts/"
]
ignore = [
    "lib/openzeppelin-contracts/certora/**",
    "lib/openzeppelin-contracts/test/**"
]
